In [2]:
# Cell 1: Import required libraries
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

# Cell 2: Define stock tickers and download historical data
tickers = ["AAPL", "GOOG", "AMZN", "NFLX"]

# Download historical data
data = {}
for ticker in tickers:
    data[ticker] = yf.download(ticker, start="2014-01-01", end="2024-11-01")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
data['AAPL']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,19.845715,19.893929,19.715000,19.754642,17.234303,234684800
2014-01-03,19.745001,19.775000,19.301071,19.320715,16.855722,392467600
2014-01-06,19.194643,19.528570,19.057142,19.426071,16.947645,412610800
2014-01-07,19.440001,19.498571,19.211430,19.287144,16.826443,317209200
2014-01-08,19.243214,19.484285,19.238930,19.409286,16.932997,258529600
...,...,...,...,...,...,...
2024-10-25,229.740005,233.220001,229.570007,231.410004,231.155685,38802300
2024-10-28,233.320007,234.729996,232.550003,233.399994,233.143494,36087100
2024-10-29,233.100006,234.330002,232.320007,233.669998,233.413193,35417200
2024-10-30,232.610001,233.470001,229.550003,230.100006,229.847122,47070900
2024-10-31,229.339996,229.830002,225.369995,225.910004,225.661728,64370100